SEARXNG_MCP_BASE_URL=http://host.docker.internal:8890
SEARXNG_MCP_FALLBACK_BASE_URLS=
SEARXNG_MCP_PUBLISH_PORT=8811
SEARXNG_MCP_FETCH_VERIFY_TLS=1
SEARXNG_MCP_SEARCH_CONCURRENCY=6
SEARXNG_MCP_FETCH_CONCURRENCY=3
SEARXNG_MCP_RENDER_CONCURRENCY=2
SEARXNG_MCP_RENDER_AUTO_FALLBACK=1
